.node {
	stroke : #fff;
	stroke-width : 1.5px;
}

.link {
	stroke : #999;
	stroke-opacity : .6;
}

#side-navbar, #top-navbar {
	list-style-type : none;
	margin : 0;
	padding : 0;
}

#top-navbar {
	margin-top : -10px;
	background-color : #d8d8f0;
}

#side-navbar {
	margin-left : -10px;
}

.top-navitem {
	display : inline;
	float : left;
	background-color : #9090ff;
	height : 70px;
	padding-top : 10px;
}

.side-navitem {
	background-color : #9090ff;
	width : 90px;
	padding-left : 10px;
	padding-top : 60px;
	padding-bottom : 20px;
}

.side-navitem:hover {
	background-color : #d8d8f0;
}

#last-top, #last-side {
	border-bottom-right-radius: 10px;
}
#last-top {
	width : 320px;
}

#reddit-alien {
	margin-top : -10px;
}

a {
	display : block;
	width : 100px;
}

#state-search {
	width : 300px;
	height : 50px;
	font-size : 40px;
	font-family : sans-serif;
	border-radius : 8px;
	margin-left : 0px;
}

#title {
	background-color : white;
	font-size : 62px;
	float : right;
	font-family : verdana;
	margin-top : -10px;
	border-bottom : 3px solid #ff4800;
}

#svg_container {
	margin-top : -270px;
}